

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body, html {
    height: 100%;
    overflow: auto;
}

body {
    background-image: url('../MG_3438_darker.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;
    font-family: 'Proza Libre', sans-serif;
    padding-top: 40rem;
}
h1 {
    margin: 40px 0;
}
.logo {
    max-width: 100%;
}
.subscribe, .body, footer {
    position: relative;
    z-index: 2;
}
.subscribe {
    margin: 40px 0;
}
.body {
    font-size: 2rem;
}
footer {
    margin-top: 5rem;
}

a, a:hover, a:active, a:visited {
    color: white;
}
b { font-size: 1.5rem;}
p {
    margin-bottom: 2rem;
}
.follow-us {
    font-size: 3rem;
    white-space: nowrap;
}

@media screen and (min-width: 800px) {
    body:before {
        content: '';
        background-image: url('../MG_3438.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        max-width: 600px;
    }
    .marge {
        width: 50%;
        max-width: 600px;
        height: 100%;
        flex-shrink: 0;
    }
    .wrapper {
        max-width: 900px;
    }
    .container-fluid {
        margin: 0;
    }
    body {
        background-image: none;
        padding: 0;
        overflow: visible;
        display: flex;
    }
    body, .body, a, a:hover, a:active, a:visited {
        color: #222222;
    }
}
